// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 300px;
}

.navbar {
  border-radius: 0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: #117275;

}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
}

.hero {
  background: url("dog.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:400px;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.frosty {
  background: rgba(0,0,0,0.5);
  color:white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;

}

.ui-datepicker-from{
  
  width: 250px;
  

}

.ui-datepicker-title {
  background:white;
}



.ui-datepicker-to {
  width: 250px;
  }